CONFIG_SPI_STM32=y
CONFIG_FB_SYS_FILLRECT=y
CONFIG_FB_SYS_COPYAREA=y
CONFIG_FB_SYS_IMAGEBLIT=y
CONFIG_FB_SYS_FOPS=y
CONFIG_FB_DEFERRED_IO=y

CONFIG_STAGING=y
CONFIG_FB_TFT=y
CONFIG_RTC_DRV_PCF8563=y
CONFIG_GPIO_SYSFS=y
CONFIG_TOUCHSCREEN_FT6236=y

CONFIG_FRAMEBUFFER_CONSOLE=y
CONFIG_FRAMEBUFFER_CONSOLE_DETECT_PRIMARY=y
CONFIG_LOGO=y
CONFIG_LOGO_LINUX_MONO=y
CONFIG_LOGO_LINUX_VGA16=y
CONFIG_LOGO_LINUX_CLUT224=y
CONFIG_FONT_SUPPORT=y
CONFIG_FONT_8x8=y

CONFIG_USB_G_SERIAL=m


CONFIG_MFD_SIMPLE_MFD_I2C=y
CONFIG_BACKLIGHT_AXP2101_M5STACK=y
CONFIG_FB_TFT_ILI9342C=m

